body {
  background-color: rgb(21, 21, 21);
}
p {
  padding: 0;
  margin: 0;
}
.logo {
  width: 494px;
  height: 151px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.menu {
  font-family: Dikovina;
  font-size: 32px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 55px;
  margin-bottom: 40px;
  padding-right: 0;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: azure;
}
.menu a:hover {
  text-shadow: 5px -2px 15px #64bd00;
}
.menu li {
  display: inline;
  margin-right: 55px;
  margin-left: 55px;
}
.line {
  margin: 0;
  width: 700px;
  border-width: 0;
  height: 3px;
  background-color: #64bd00;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
    to right,rgb(21, 21, 21),
    #5DF102,rgb(21, 21, 21)
  );
}
.wordChar {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Dikovina;
  font-size: 24px;
  color: azure;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
}
.charImg {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
.char {

  width: 800px;
  margin: auto;
  font-family: Helvetica;
  color: azure;
}
.key {
  font-weight: bold;
}
