body {
  background-color: rgb(21, 21, 21);
}
h3 {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  text-align: center;
}
p {
  padding: 0;
  margin: 0;
}
.logo {
  width: 494px;
  height: 151px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.menu {
  font-family: Dikovina;
  font-size: 32px;
  list-style-type: none;
  padding-left: 0;
  margin-top: 55px;
  margin-bottom: 40px;
  padding-right: 0;
  text-align: center;
}
.menu a {
  text-decoration: none;
  color: azure;
}
.menu a:hover {
  text-shadow: 5px -2px 15px #64bd00;
}
.menu li {
  display: inline;
  margin-right: 55px;
  margin-left: 55px;
}
.line {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wordEpisode {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Dikovina;
  font-size: 24px;
  color: azure;
  text-align: center;
}

.imagesOfEpisodes {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
}
.episodeImg {
  position: relative;
}
.picture {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.description {
  font-family: Helvetica;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: azure;
  font-size: 14px;
  overflow: hidden;
  opacity: 0;
  -webkit-user-select: none;
}
.episodeImg:hover .description {
  opacity: 1;
  cursor: pointer;
}
.episodeImg:hover .picture {
  filter: brightness(40%);
}
